<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="main_menu_university"
              name="My University"
              sequence="1"/>

    <menuitem id="menu_students"
              name="Students"
              sequence="1"
              parent="main_menu_university"
              action="action_students_info"/>

    <menuitem id="menu_teachers"
              name="Teachers"
              sequence="2"
              parent="main_menu_university"
              action="action_university_teachers"/>
              
    <menuitem id="menu_subjects"
              name="Subjects"
              sequence="3"
              parent="main_menu_university"
              action="action_university_subjects"/>

    <menuitem id="menu_batch"
              name="Batches"
              sequence="4"
              parent="main_menu_university"
              action="action_university_batch"/>

    <menuitem id="menu_lecture"
              name="Lectures"
              sequence="5"
              parent="main_menu_university"
              action="action_university_lecture"/>

</odoo>
